<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Tuổi</th>
                    <th>Địa chỉ</th>
                </tr>
            </thead>
            {{#each sinhvien}}
            <tbody>
                <tr>
                    <td>{{this.ten }}</td>
                    <td>{{this.tuoi}}</td>
                    <td>{{this.adresss}}</td>
                    <td><a href="{{this._id}}/edit">Sửa</a></td> 
                    <td><a href="{{this._id}}/delete">Xoá</a></td> 



                </tr>
            </tbody>
            {{/each}}
        </table>

        <form action="/mhthem" method="GET"><button type="submit" class="btn btn-success" >Thêm sinh viên</button></form>
        <br>
    </div>

</body>

</html>